################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1.3/.vs/Lab1.3
/Lab1.3/Lab1.3/obj/Debug/net7.0
/Lab1.3/Lab1.3/obj
